# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Virtual Environment directories
venv/
env/
.venv/

# Database files
*.sql
*.sqlite

# IDE/editor settings
.vscode/
.idea/
*.iml

# Operating System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
